* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td{
    line-height: 50px;
    font-size: 20px;
}
tr{
    padding-top:50px;
}
html,
body {
    overflow-x:hidden;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #56A7A7;
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 120px;
}

h2,
a {
    color: white;
    text-decoration: none;
    text-align: center;
}

h5 {
    padding: 20px;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
}
th{
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
}

#navbar_top{
    position:fixed;
    box-shadow: 0px 4px 7px #656565;
}
.nav {
    background-color: black;
    position: fixed;
    z-index: 1;
}

.openingHours-title,
.contact-title,
#menu-food,
.our-restaurant {
    text-align: center;
    padding-top:50px;
    font-family: 'Allura', cursive;
    font-size: 75px;
}

.navbar-toggler {
    display:contents;
    /* padding: 0.25rem 0.75rem; */
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 3px solid yellowgreen;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

nav,
.intro {
    background: url("assets/img/pasta-and-flour.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    margin-top: 0;
    padding: 120px 0 80px 0;
}
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
  }
  

.navbar-brand {
    color: white;
}

.navbar-nav,
.nav-link:hover {
    color: black;
}

.nav-item,
.nav-link {
    color: white;
    font-weight: 600px;
    /* justify-content: space-between; */
    transition-duration: 2s;
    transition: width 2s;

}

.nav-item {
    margin-left: 5px;
    text-shadow: 5px 5px 4px black;
}

.nav-item:hover {
    background-color: yellowgreen;
    border-radius: 25px;
    font-weight: 600;
    text-shadow: none;
}



.intro-text {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    text-shadow: 5px 5px 4px black;
}

#location{
    display: flex!important;
    padding: 20px;
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 50px;
}

.about-text {
    text-align: center;
    padding: 40px;
    margin: 20px auto; 
    background-color: black;
    opacity: 0.5;
    border-radius: 280px !important;
    max-width: 500px;
    height:auto;
    display:block;
    justify-content: center!important;
}

.our-restaurant {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.container-restaurant {
    margin: 20px;
    padding: 20px auto;
}


/* SECTION MENU */
.specials-button{
    padding:30px auto;
    margin:30px auto;
    justify-content: center;
    align-items: center;
    width:500px;
    height: 30px; 
    display:flex;
}
.btn-block {
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: none;
    width: 100%;
    font-size: 30px;
}

.accordion {
    cursor: pointer;
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.accordion-button {
    background-color: black;
    text-align: center;
}

.accordion-collapse {
    background-color: #60A9A6;
}

tr
{
    font-size: 20px;
    color: white;
}

/* SALADS */


span {
    font-size: 20px;
    padding-left:200px;
}

.additions {
    background-color: black;
    margin: 20px auto;
    border-radius: 25px 25px 25px 25px;
    font-size: 10px;
    width: 500px;
    display: block;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 20px;
}
li,
.appetizers{
    list-style-type: none;
}

.all-pasta-adds {
    color: yellowgreen;
    padding: 20px;
    font-weight: 700;
    width: auto;
}

.gluten-inquire {
    font-size: large;
    font-weight: 700;
}

em {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.btn-block {
    color: white;
    text-align: center;
}

.btn-block:hover {
    color: greenyellow;
}
.seafood-table{
    color:white !important;
    text-align: center;
}



/* ICONS */


.icon {
    color: white;
    padding-right: 20px;
}

.fa-pepper-hot {
    background-color: red;
    padding: 5px;
    border-radius: 50px;
}

.fa-leaf {
    background-color: greenyellow;
    padding: 5px;
    border-radius: 50px;
}

/* PIZZAS */

.extra-cheese-inquire {
    text-align: center;
    text-shadow: #557B83;
}


/* SANDWICHES */
.extra-toppings {
    justify-content: flex-start;
}
.contact-info {
    padding: 20px;
    justify-content: flex-end;
    font-size: 20px;
}

.card h4 {
    width:100%;
    height: 500px;
    opacity: 0.5;
    padding: 20px;
    font-weight: 600;
    margin: 20px auto;
}

.icon,
.contact-info:hover {
    color: yellowgreen;
}
.timeline{
    border-radius: 20px 20px 20px 20px;
    padding:20px;
    background-color: black;
    opacity: 0.6;
}

.schedule{
    color:white;
    padding: 0 20px!important;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 5px;
    justify-content: space-between;
}
.d-block{
    object-fit: cover;
    height: 500px;
    width:100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
}

.openingHours-title {
    padding-bottom: 30px;
}

.opening-hours {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 10px 0 100px;
}

.timeline-dot {
  width: 12px;
  height: 12px;
  top:20px;
  background-color: white;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}
.text-success{
    background-color: yellowgreen;
}
.closed{
    background-color: red;
}
.timeline-dot::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: white;
  transform: translateX(-50%);
}

iframe{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);

}


.card {
    background-color: transparent;
    padding: 30px auto;
    margin: 10px auto;
    font-size: xx-large;
    text-align: center;
}

.address{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    opacity: 0.7;
    width:fit-content;
    padding:20px;
    border-radius: 15px;
    margin: 10px auto;
}

.marketplace {
    font-size: 30px;
    font-weight:900;
    background: rgb(67, 230, 27);
    background: linear-gradient(90deg, rgba(67, 230, 27, 1) 0%, rgba(27, 233, 116, 0.02891578994879207) 33%, rgba(247, 248, 245, 1) 49%, rgba(245, 45, 24, 1) 69%, rgba(255, 11, 0, 1) 100%);
    margin: 0 0 0 0;
    padding: 10px 100px;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    /* text-shadow: 5px 5px 4px black; */
}

footer {
    color:gray;
    text-align: center;
}

.copyright {
    margin:0;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: black;
    height:max-content;
}

.autor {
    text-decoration: none;
    color: rgb(167, 169, 172);
}
.autor:hover{
    color: yellowgreen;
}

.fa-terminal {
    color: yellowgreen;
}

/* SPECIALS */
.second-page,
.special-body {
    margin-bottom: 0;
    font-size: x-large;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.special-body {
    padding-top: 50px;
   
}


.second-footer {
    color:gray;
    background-color: black;
    margin-bottom: 0;
    padding-bottom: 20px;
    width: 100%;
}

.nav-specials {
    background: black;
    opacity:0.9;
    width: 100%;
    position:fixed;
    margin-top:0;
    box-shadow: 0px 4px 7px #dfdddd;
}

#specials {
    background-image: url("assets/img/tomatoes.jpeg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index:-4;
    position:-webkit-sticky;
    background-attachment: absolute;
}
.special-title{
    padding-top: 100px;
}
.specials-img{
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;
    object-fit: cover;
    margin:30px auto !important;  
    padding: 30px auto; 
}
.title-specials {
    font-family: 'Allura', cursive;
}

.food-icon-group {
    display: grid;
    align-items: center;
    justify-content: center;
}

.food-icons {
    padding: 20px;
}

.notice {
    color:white;
    display: block;
    justify-content: center;
    background-color: red;
    padding: 10px;
    padding: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica bold, sans-serif;
    border: 4px black solid;
    border-radius: 50px;
    padding: 30px;
    text-align: center;
    height: fit-content;
    margin: 50px auto;
    width: 500px;
}

.notice-body {
    color:white;
    width: 100%;
    font-size: large;
    font-weight: 700px!important;
    border-radius: 50px;
}
.info-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellowgreen;
    padding-bottom:40px;

}

.img-fluid{
    align-items: center!important;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
}
.easter-info{
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: auto;
    color: yellowgreen;
}

.heart {
    font-weight: 800;
    color:white;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width:980px) {
    #specials,
    .navbar-nav {
        align-items: center;
    }
    .about-text {
        width:fit-content;
        text-align: center;
        opacity: 0.5;
        align-items: center;
        justify-content: center!important;
    }

    #about-text{
        text-align: center;
        background-color: black;
        opacity: 0.5;
    }

    .specials {
        background-attachment: cover;
        align-items: center;
        justify-content: center;
        background-color: black;
        position: fixed;
    }
    .food-icon-group {
        display:flex;
        height: 100% !important;
        width: 100% !important;
    }

    .second-footer {
        padding-bottom: 20px;
    }

}



@media screen and (max-width:768px) {
    :root {
        width: fit-content;
    }

    li {
        font-size: 30px;
    }

    #body {
        text-align: -webkit-center;
        position:relative;
        width:100%;
        min-height: 100vh;
    }

    .our-restaurant {
        justify-content: center;
    }

    .about-text {
        text-align: center!important;
        width: 100%;
        font-size: 25px;
    }
    .opening-hours {
        text-align: center;
    }

    .accordion {
        font-size: 25px;
    }

    .additions {
        padding: 10px;
        font-size: 20px;
    }

    em {
        display: flex;
        text-align: left;
        justify-content: space-between;
    }
    .marketplace {
        width: 100%;
        height: auto;
    }

    .copyright {
        font-size: 10px!important;
    }

    footer {
        font-size: medium;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:560px) {
    .intro {
        background: url("assets/img/pasta-and-flour.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        background-position: center center;
        width: full-width;
        margin-top: 0;
       }

       #specials{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: sticky;
        height: auto;
        background-position: center center;
        width: full-width;
        margin-top: 0;
       }
       .navbar{
        background-image: none;
        background-color:black;
        opacity: 0.9;
        color:white;
        position: static;
        z-index: 1;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
       }
      #location{
        flex-wrap: wrap;
        display:block!important;
        padding: 20px;
        width:100%;
        height: auto;
        justify-content: center!important;
        align-items: center;
    }
}