* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #56A7A7;
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 120px;
}

h2,
a {
    color: white;
    text-decoration: none;
    text-align: center;
}

h5 {
    padding: 20px;
}

p {
    padding-bottom: 20px;
}

.all-our-pizzas,
.openingHours-title,
.contact-title,
#menu-food,
.our-restaurant {
    font-family: 'Allura', cursive;
    font-size: 75px;
}

.navbar-toggler {
    /* padding: 0.25rem 0.75rem; */
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 3px solid yellowgreen;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}


nav,
.intro {
    background: url("../assets/img/pasta-and-flour.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    margin-top: 0;
    padding: 120px 0 80px 0;
}

.navbar-brand {
    color: white;
}

.navbar-nav,
.nav-link:hover {
    color: black;
}

.nav-item,
.nav-link {
    color: white;
    font-weight: 600px;
    /* justify-content: space-between; */
    transition-duration: 2s;
    transition: width 2s;

}

.nav-item {
    margin-left: 5px;
    text-shadow: 5px 5px 4px black;
}

.nav-item:hover {
    background-color: yellowgreen;
    border-radius: 25px;
    font-weight: 600;
    text-shadow: none;
}


.intro-text {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    text-shadow: 5px 5px 4px black;
}

.about-img {
    padding: 30px;
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 50px;
}

.about-text {
    padding: 30px;
    margin: 20px;
}

.our-restaurant {
    display: inline-flex;
    align-items: center;
}

.container-restaurant {
    margin: 20px;
    padding: 20px auto;
}


/* SECTION MENU */

.accordion {
    background-color: #557B83;
}

.btn-block {
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: none;
    width: 100%;
    font-size: 30px;
}

.accordion {
    cursor: pointer;
    width: 100%;
    padding: 100px auto;
    text-align: center;
}

.accordion-button {
    background-color: black;
    text-align: center;
}

.accordion-collapse {
    background-color: #60A9A6;
}

li,
.pasta-menu {
    font-size: 20px;
    list-style: decimal;
    color: white;
    display: inline-table;
}

/* SALADS */


span {
    margin-left: 100px;
    padding: 20px;
}

.additions {
    background-color: black;
    margin: 20px auto;
    border-radius: 50px 50px 50px 50px;
    font-size: 20px;
    width: 450px;
    display: block;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.all-pasta-adds {
    color: yellowgreen;
    padding: 20px;
    font-weight: 700;
    width: auto;
}

.gluten-inquire {
    font-size: large;
    font-weight: 700;
}

em {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 25px;
}

.btn-block {
    color: white;
    text-align: center;
}

.btn-block:hover {
    color: greenyellow;
}



/* ICONS */


.icon {
    color: white;
    padding-right: 20px;
}

.fa-pepper-hot {
    background-color: red;
    padding: 5px;
    border-radius: 50px;
}

.fa-leaf {
    background-color: greenyellow;
    padding: 5px;
    border-radius: 50px;
}

/* PIZZAS */

.extra-cheese-inquire {
    text-align: center;
    text-shadow: #557B83;
}


/* SANDWICHES */
.extra-toppings {
    justify-content: flex-start;
}

.contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 50px;
}

.contact-info {
    padding: 20px;
    font-size: 30px;
}

.map {
    text-align: center;
    margin-top: 50px;
}

.our-location {
    background-color: black;
    border-radius: 50px 50px 0 0;
    max-width: 600px;
    height: auto;
    padding: 20px;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

.catering-event h4 {
    background-color: black;
    padding: 20px;
    font-weight: 600;
    width: 600px;
    margin: auto;
    border-radius: 15px 15px 0 0;
}

.icon,
.contact-info:hover {
    color: yellowgreen;
}


.catering-event {
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 50px;
}

iframe {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
}

.schedule {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.openingHours-title {
    padding-bottom: 30px;
}

.closed {
    background-color: yellowgreen;
    border-radius: 50px;
}

.opening-hours {
    text-align: center;
    padding: 100px;

}



.map-info {
    padding: 30px;
    margin: 10px;
    font-size: xx-large;
    text-align: center;
}

.marketplace {
    font-size: 25px;
    font-weight: 600px;
    background: rgb(67, 230, 27);
    background: linear-gradient(90deg, rgba(67, 230, 27, 1) 0%, rgba(27, 233, 116, 0.02891578994879207) 33%, rgba(247, 248, 245, 1) 49%, rgba(245, 45, 24, 1) 69%, rgba(255, 11, 0, 1) 100%);
    margin: 0 0 0 0;
    padding: 10px 100px;
    text-align: center;
    color: black;
    width: 100%;
    /* text-shadow: 5px 5px 4px black; */
}

footer {
    text-align: center;
}

.copyright {
    padding-top: 20px;
    /* margin-top: 20px; */
}

.autor {
    text-decoration: none;
    color: white;
}

.fa-terminal {
    color: yellowgreen;
}

.second-footer {
    background-color: black;
    margin: 0;
    position: relative;
}

/* SPECIALS */

#specials {
    background-color: black;
}


.title-specials {
    font-family: 'Allura', cursive;
}

@media screen and (max-width:980px) {

    p {
        width: 500px;
        text-align: center;
        display: inline-flex;
    }

    #specials,
    .navbar-nav {
        align-items: flex-end;
    }

    .about-text,
    .about-img {
        width: 100%;
    }

    .specials {
        width: 100%;
        background-color: black;
    }

    .second-footer {
        margin-bottom: 0;
        padding-bottom: 0;
    }

}



@media screen and (max-width:768px) {
    :root {
        width: fit-content;
    }

    li {
        font-size: 30px;
    }

    .body {
        text-align: -webkit-center;
    }

    .our-restaurant {
        justify-content: center;
    }

    .contact {
        flex-wrap: wrap;
        width: 100%;
    }


    .catering-event {
        display: none;
    }

    .intro {
        background-size: cover;
        width: 100%;
    }

    .about-img {
        width: 100%;
    }

    .about-text {
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    .accordion {
        font-size: 25px;
    }

    .additions {
        padding: 10px;

        font-size: 20px;
    }

    em {
        display: flex;
        text-align: left;
        justify-content: space-between;
    }

    .map,
    .out-location {
        display: inline-table;
        justify-items: center;
        width: 100%;
        height: auto;
    }


    .map-info {
        text-align: center;
    }

    .marketplace {
        width: 100%;
        height: auto;
    }

    .copyright {
        display: inline-block;
    }

    footer {
        font-size: medium;
    }
}

@media screen and (max-width:560px) {

    .intro {
        width: 100%;
    }
}