* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #557B83;
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 120px;
}

h2,
a {
    color: white;
    text-decoration: none;
    text-align: center;
}


nav,
.intro {
    background: url("../assets/img/menu-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin-top: 0;
    padding: 120px 0 80px 0;
}

.navbar-brand {
    color: white;
}

.navbar-nav,
.nav-link:hover {
    color: black;
    font-size: 20px;
}

.navbar-nav,
.nav-link {
    color: white;
    font-weight: 600px;
    background-color: yellowgreen;
    border-radius: 50px;
    justify-content: space-between;
}

.intro-text {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.about-img {
    padding: 20px;
    max-width: 100%;
    height: auto;
}

.about-text {
    padding: 30px;
    margin: 20px;
}

.container-restaurant {
    margin: 20px;
    padding: 20px auto;
}

/* SECTION MENU */


.accordion {
    background-color: #557B83;
}


.pasta-menu {
    list-style-type: none;
    font-size: 20px;
    color: white;
    display: inline-table;
}

.accordion {
    cursor: pointer;
    width: 100%;
    padding: 100px auto;
    text-align: center;
}

.accordion-button {
    background-color: black;
    text-align: center;

}

.accordion-collapse {
    background-color: #557B83;
}

li {
    list-style: none;
    font-size: 20px;
}

.salads {
    display: block;
}


span {
    margin-left: 100px;
}

.additions {
    background-color: black;
    margin: 100px;
    padding: 10px;
    border-radius: 50px 0 50px 0;
    font-size: 20px;
    width: 500px;
    display: block;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
}

em {
    display: flex;
    text-align: left;
    justify-content: space-between;
}


.btn-block,
.card-body {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 25px;
}

.btn-block {
    color: white;
    text-align: center;
}

.btn-block:hover {
    color: greenyellow;
}

/* ICONS */

.fa-pepper-hot {
    color: red;
}

.fa-leaf {
    color: greenyellow;
}

footer {
    margin-top: 100px;
    text-align: center;
}

.autor {
    text-decoration: none;
    color: white;
}

.fa-terminal {
    color: yellowgreen;
}

@media screen and (max-width:767px) {
    .about-img {
        width: 100%;
    }

    .additions {
        padding: 10px;
        border-radius: 50px 0 50px 0;
        font-size: 20px;
    }

    em {
        display: flex;
        text-align: left;
        justify-content: space-between;
    }
}